<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>Jankiest Rides</h1>
    <h2>List New Listing</h2>
    <a href="/"><button>Listings</button></a>
    <div>
        <form action="/car/" method="post">
            <label for="make">Make: </label>
            <input type="text" name="make" />
            <label for="model">Model: </label>
            <input type="text" name="model" />
            <label for="year">Year: </label>
            <input type="number" name="year" />
            <label for="mi">Miles: </label>
            <input type="number" name="mi" />
            <label for="color">Color: </label>
            <input type="text" name="color" />
            <label for="price">Price: </label>
            <input type="number" name="price" />
            <label for="description">Description: </label>
            <input type="text" name="description" />
            <label for="img">Image: </label>
            <input type="text" name="img" />
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>